server:
  port: 4100
  tomcat:
    threads.max: 50
    max-connections: 100
    max-http-form-post-size: 120MB
    connection-timeout: 60000

spring:
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  web:
    resources:
      static-locations: file:./public/web/
  mail:
    host: smtp.qq.com
    username:
    password:
    default-encoding: utf-8
    protocol: smtp
    port: 465
    properties:
      mail:
        smtp:
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
          ssl:
            enable: true
  # 默认使用H2数据库
  datasource:
    driver-class-name: org.h2.Driver
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:h2:file:./data/poetize_next;AUTO_SERVER=TRUE;
    username: root
    password: root
  # 支持使用MySQL数据库
#  datasource:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    type: com.zaxxer.hikari.HikariDataSource
#    url: jdbc:mysql://localhost:3306/poetize_next?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
#    username: root
#    password: root

# 持久化框架
mybatis-plus:
  mapper-locations: classpath*:mapper/**/*.xml
  #  configuration:
  #    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-value: 1
      logic-not-delete-value: 0

# 系统配置
sys:
  # 是否开启自动初始化
  auto-init: true
  # 离线IP定位库
  ip2region: file:./data/ip2region.xdb